@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("../font/Poppins-Regular.ttf") format("woff2");
}
.container {
  @apply max-w-[1200px] mx-auto px-5 py-3;
}
.inner-container {
  @apply max-w-[650px] mx-auto;
}

h2 {
  @apply font-medium text-2xl capitalize;
}
h3 {
  @apply font-medium text-xl capitalize;
}

.line-h2 {
  @apply relative inline-block before:content-[''] before:absolute before:right-[calc(100%+10px)] before:top-1/2 before:translate-y-1/2 before:w-10 before:h-[1px] before:bg-blue-600 mb-5 after:content-[''] after:absolute after:left-[calc(100%+10px)] after:top-1/2 after:translate-y-1/2 after:w-10 after:h-[1px] after:bg-blue-600;
}

p.desc {
  @apply text-slate-700 mb-10;
}
header.activeHeader {
  @apply fixed top-0 bg-slate-50/90 backdrop-blur-[6px] border-b shadow-sm !z-[100] w-full;
}

.testimoni-text {
  &::before,
  &::after {
    @apply content-['"'] !text-xl font-medium italic;
  }
}
